<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->
    	
      <form role="form" action="/budget" method="post" class="forms" id="budgetForm">
        <h1><%= budgetTitle %></h1>
        <h5 class="errMsgs"><%= info %></h5>
        <div id="foundYou">
          <div id="map"></div>
          <p>Before YOU find food. I must first find YOU.</p>
          <span id="status">Please Wait...</span>
        </div>
        <div id="budgetWrapper">
        <fieldset>
          <label><%= budget %></label>
          <input type="text" name="budget" placeholder="<%= placeholder %>" required>
        </fieldset>
        <fieldset class="options">
            <label><%= craving %></label>
            <select>
                <option value="1">Subs</option>
                <option value="2">Burgers</option>
                <option value="3">Pizza</option>
            </select>
        </fieldset>
        <input id="budgetFinder" class="mainButton" type="submit" value="<%= find %>">
        </div><!--gone for now-->

      </form>

      <a id="logout" href="/logout">
        <!--<div>
          <object data="/images/icons/logout.svg">
            <img src="/images/icons/logout.png">
          </object>
        </div>-->
      </a>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="/javascripts/geo.js"></script>

  </body>
</html>
