<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0G13t14G1RY1GcKf3ElLy5sHARKQ7jMU&libraries=places" async defer></script>
<script src="/javascripts/geo.js"></script>
<script src="/javascripts/myAngular.js"></script>
<script type="text/javascript">
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    var moneyDiv = document.querySelector('#moneyOnly');
    var moneyOnly = document.querySelector('#moneyOnly p');
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        moneyOnly.innerHTML = "<%= moneyOnly %>";
        moneyDiv.classList.add('opac');
        return false;
    }else{
      moneyOnly.innerHTML = "";
      moneyDiv.classList.remove('opac');
    }
    return true;
}
</script>
</head>
<body ng-app="budgetOptions">
    <header>
      <% include ../partials/headerWithSet %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

      <form
      ng-controller="optionCtrl"
      name="myForm"
      role="form"
      action="/budget"
      method="post"
      class="forms"
      id="budgetForm">
        
        <h1><%= budgetTitle %></h1>
        <h5 class="errMsgs" id="userWelcome"><%= info %></h5>
        <div class="foundYou">
          <p>But before YOU find food. I must first find YOU.</p>
          <span class="status">Waiting For You...</span>
        </div>
        <div id="moneyOnly"><p></p></div>
        <div id="budgetWrapper">
        <fieldset>
          <label><%= budget %></label>
<input type="text"
id="budgetInput"
name="budget"
placeholder="<%= placeholder %>"
onkeypress="return isNumber(event)"
maxlength="2"
required>
        </fieldset>
        <input id="budgetFinder" class="mainButton" type="submit" value="<%= find %>">

        <div><%= favorites %></div>

        </div><!--gone for now-->

      </form>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
