<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->
    	
      <form class="forms" id="budgetForm">
        <h1><%= budgetTitle %></h1>
        <h5 class="errMsgs"><%= info %></h5>
        <fieldset>
          <label><%= budget %></label>
          <input type="text" name="budget" placeholder="<%= placeholder %>">
        </fieldset>
        <fieldset class="options">
            <label><%= craving %></label>
            <select>
                <option value="1">Subs</option>
                <option value="2">Burgers</option>
                <option value="3">Pizza</option>
            </select>
        </fieldset>
        <input class="mainButton" type="submit" value="<%= find %>">
      </form>

      <a id="logout" href="/logout">
        <!--<div>
          <object data="/images/icons/logout.svg">
            <img src="/images/icons/logout.png">
          </object>
        </div>-->
      </a>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
