<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script type="text/javascript">
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    var moneyDiv = document.querySelector('#moneyOnly');
    var moneyOnly = document.querySelector('#moneyOnly p');
    var results = document.querySelector('#budgetResults');
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        moneyOnly.innerHTML = "<%= moneyOnly %>";
        moneyDiv.classList.add('opac');
        results.classList.add('hidden');
        return false;
    }else{
      moneyOnly.innerHTML = "";
      moneyDiv.classList.remove('opac');
      results.classList.remove('hidden');
    }
    return true;
}
</script>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
      <script src="/javascripts/dropDown.js"></script>
    </header>

    <div id="padding"><!--for bottom padding. keep footer down!-->

      <form
      name="myForm"
      role="form"
      action="/restaurants"
      method="post"
      class="forms"
      id="budgetForm">
        
        <h1><%= budgetTitle %></h1>
<h5 class="errMsgs" id="userWelcome">Hey <span><%= userName %></span>!<br>
  I Bet You're Feeling Hungry!</h5>

    <div id="favMsgs">
      <p><%= favorites %></p>
    </div>

        <div id="moneyOnly"><p></p></div>
        <fieldset id="budgetInput">
          <label><%= budget %></label>
<input type="search"
id="budgetBox"
name="budget"
placeholder="<%= placeholder %>"
onkeypress="return isNumber(event)"
maxlength="2"
autocomplete="off"
required>
        </fieldset>
        <div id="budgetResults" class="hidden">
          <object data="/images/budget/money.svg">
            <img src="/images/budget/money.png" alt="Money"/>
          </object>
          <p></p>
          <button type="submit">Find Food</button>
        </div>

      </form>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

    <script src="/javascripts/budgetResults.js"></script>
  </body>
</html>
