<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<script type="text/javascript">
  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    var moneyDiv = document.querySelector('#moneyOnly');
    var moneyOnly = document.querySelector('#moneyOnly p');
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        moneyOnly.innerHTML = "<%= moneyOnly %>";
        moneyDiv.classList.add('opac');
        return false;
    }else{
      moneyOnly.innerHTML = "";
      moneyDiv.classList.remove('opac');
    }
    return true;
}
</script>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
    </header>

    <div id="padding"><!--for bottom padding. keep footer down!-->

      <form
      name="myForm"
      role="form"
      action="/restaurants"
      method="post"
      class="forms"
      id="budgetForm">
        
        <h1><%= budgetTitle %></h1>
<h5 class="errMsgs" id="userWelcome">Hey <span><%= userName %></span>!<br>I Bet You're Feeling Hungry!</h5>
        <div id="moneyOnly"><p></p></div>
        <fieldset id="budgetInput">
          <label><%= budget %></label>
<input type="text"
name="budget"
placeholder="<%= placeholder %>"
onkeypress="return isNumber(event)"
maxlength="2"
required>
        </fieldset>
        <input id="budgetFinder" class="mainButton" type="submit" value="<%= find %>">

      </form>
      
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
