<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

    <form role="form" action="/login" method="post" class="forms" id="loginForm">
    	<h1><%= formTitle %></h1>
        <h5 class="errMsgs"><%= message %></h5>
        <fieldset>
            <label><%= username %></label>
            <input type="text" name="username" required>
        </fieldset>
        <fieldset>
            <label><%= password %></label>
            <input type="password" name="password" required>
        </fieldset>
    	<input class="twoButtons" type="submit" value="<%= Login %>">
        <a class="neverMind" href="/">Never Mind</a>
    </form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
