<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <form class="forms" id="loginForm"><!--action="budget" method="post"-->
    	<h1><%= formTitle %></h1>
        <fieldset>
            <label><%= username %></label>
            <input type="text" name="username">
        </fieldset>
        <fieldset>
            <label><%= password %></label>
            <input type="password" name="password">
        </fieldset>
        <fieldset class="options">
            <label><%= craving %></label>
            <select>
                <option value="1">Subs</option>
                <option value="2">Burgers</option>
                <option value="3">Pizza</option>
            </select>
        </fieldset>
        <a class="twoButtons" href="signup">Not a Member?</a>
    	<input class="twoButtons" type="submit" value="<%= Login %>">
    </form>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
