<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/headerWithSet %>
    </header>

      <div id="updatePad">

<form name="updateForm"
class="forms" action="/updateProfile"
method="post" id="updateProfileCon">
          <h1><%= update %></h1>
          <fieldset>
            <label>First Name</label>
            <input type="text" name="firstname" placeholder="<%= firstname %>" required>
          </fieldset>
          <fieldset>
            <label>Last Name</label>
            <input type="text" name="lastname" placeholder="<%= lastname %>" required>
          </fieldset>
          <fieldset>
            <label>Username</label>
            <input type="text" name="username" placeholder="<%= username %>" required>
          </fieldset>
          <fieldset>
            <label>Email Address</label>
      <input type="email" id="email" name="email" placeholder="<%= emailAddress %>" required>
          </fieldset>

          <input type="submit" class="mainButton" value="Submit Changes">
          <a class="neverMind" href="/settings">Never Mind</a>
</form><!--update profile con-->

      </div>
      
    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
