<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="padding"><!--for bottom padding. keep footer down!-->

    <form role="form" action="/signUp" method="post" class="forms" id="signUpForm">
      <h1><%= signUpTitle %></h1>
      <h5 class="errMsgs"><%= info %></h5>
      <fieldset>
          <label><%= username %></label>
          <input type="text" name="username" required>
      </fieldset>
      <fieldset>
          <label><%= password %></label>
          <input type="password" name="password" required>
      </fieldset>
      <fieldset>
          <label><%= fname %></label>
          <input type="text" name="firstname" required>
      </fieldset>
      <fieldset>
          <label><%= lname %></label>
          <input type="text" name="lastname" required>
      </fieldset>
      <fieldset>
          <label><%= email %></label>
          <input type="email" name="email" required>
      </fieldset>
      <input class="mainButton" type="submit" value="<%= signUp %>">
      <a class="neverMind" href="/">Never Mind</a>
    </form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
