<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
      <% include ../partials/header %>
    </header>

    <div id="padding" class="signPad"><!--for bottom padding. keep footer down!-->

<form action="/signUp" method="post" class="forms" id="signUpForm">
      <h1><%= signUpTitle %></h1>
      <h5 class="errMsgs"><%= info %></h5>
      <h5 class="errMsgs"><%= message %></h5>
      <fieldset>
          <label><%= username %></label>
          <input type="text" name="username" required maxlength="10">
      </fieldset>
      <fieldset>
          <label><%= password %></label>
          <input type="password" name="password" required maxlength="10">
      </fieldset>
      <fieldset>
          <label><%= fname %></label>
          <input type="text" name="firstname" required maxlength="15">
      </fieldset>
      <fieldset>
          <label><%= lname %></label>
          <input type="text" name="lastname" required maxlength="15">
      </fieldset>
      <fieldset id="EMAIL">
          <label><%= email %></label>
          <input type="email" name="email" required>
      </fieldset>

      <input id="SIGNUP" class="mainButton" type="submit" value="<%= signUp %>">
      <a class="neverMind" href="/">Never Mind</a>
</form>

    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
